<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : EntryWay
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140124

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
    <link href="/hatonjeu/default.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/hatonjeu/fonts.css" rel="stylesheet" type="text/css" media="all" />

    <!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="header-wrapper">
    <div id="header" class="container">
        <div id="menu">
            <a href="/hatonjeu"><img src="/hatonjeu/images/logoHatonjeu.png"></a>
            <ul>
                <li><a href="/hatonjeu/about" accesskey="1" title="">A propos</a></li>
                <li><a href="/hatonjeu/events" accesskey="2" title="">Evenements</a></li>
                <li><a href="/hatonjeu/jeux" accesskey="3" title="">Nos Jeux</a></li>
                <li><a href="/hatonjeu/contact" accesskey="4" title="">Reservation et Contacts</a></li>
            </ul>
        </div>

    </div>

</div>
<div id="header-featured">
    <div id="banner" class="container">
        <h2>"On peut en savoir plus sur quelqu'un en une heure de jeu qu'en une année de conversation." (Platon)</h2>
    </div>
</div>
<div id="wel">
    <div id="wrapper">
        <div id="featured-wrapper">
            <div id="featured" class="container about-container">
                <div class="main-title">
                    <h2>Offre d'evenements</h2>
                </div>

                <p>
                    Vous souhaitez organiser une fête de quartier, une fête de voisins, une fête avec votre personnel, réservez ces jeux qui mettrons une ambiance différente.
                    Idéal pour une fête de famille réussie (mariage, communion, anniversaire. ).
                    Nous proposons plus de 100 jeux géants en bois en location : de 3 à 15€ le jeu pour un week-end.
                </p><p>
                    Nous vous proposons également le temps d'une après-midi ou d'une soirée une série de jeux géants en bois. Jeux traditionnels ou plus contemporains que nous avons sélectionnés pour leur aspect esthétique, leur attrait ludique, leur caractère festif et leur convivialité. Plus de 100 jeux d'adresse, jeux de réflexion ou casse-tête sont mis à disposition du public. Les règles sont très simples et permettent une mise en oeuvre rapide et une excellente fluidité des animations (âge : de 3 à 103 ans).
                    Idéal pour anniversaire ou encore fête de quartier ou de village.
                </p><p>
                    Prix animation : à partir de 280€ (après-midi - 3h)</p>
            </div>

        </div>
    </div>
    <div id="copyright" class="container">
        <p>&copy; Untitled. All rights reserved. | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
    </div>
</div>
</body>
</html>
