<body style="width:100%;margin: 7%">
<h3>Estelle</h3>
<ul><li>Gateau</li></ul>
<h3>Charlotte</h3>
<ul><li>Apero</li></ul>
<h3>Aurianne</h3>
<ul><li>Dessert 3 etages</li></ul>
<h3>Charline</h3>
<ul><li>Gateaux de sa boulangerie</li></ul>
<h3>Emma</h3>
<ul><li>Cornichons</li><li>Oignons</li></ul>
<h3>Basile</h3>
<ul><li>Tentative de Gateau ;)</li></ul>
<h3>Sophie</h3>
<ul><li>Appareil a raclette</li></ul>
<h3>Justin</h3>
<ul><li>Fromage</li><li>Appareil Raclette</li><li>Royco</li></ul>


<h1>Il reste à apporter : </h1>
<ul><li>+ de Fromage</li><li>Patates</li><li>+ de apero</li></ul>

</body>