<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Skeleton 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20130902

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Justin Loroy's testing place</title>
  <meta name="keywords" content="Justin, Loroy" />
  <meta name="description" content="A little website about myself and my projects" />
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="/stylesheets/default.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/stylesheets/fonts.css" rel="stylesheet" type="text/css" media="all" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
  <script src="/bootstrap/js/bootstrap.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
  <script src="https://code.angularjs.org/1.3.15/i18n/angular-locale_fr-be.js"></script>
  <script src="javascripts/home.js"></script>


  <!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body ng-App="home" ng-controller="homeController">
<div id="page" class="container">
  <div id="header">
    <div id="logo">
      <img src="images/me.jpg" alt="" />
      <h1><a href="#">Justin Loroy</a></h1>
    </div>
    <form id="connect" ng-submit="connect();" ng-class="{hidden:connected}">
      <input type="text" ng-model="password">
      <a type="submit" class="button">Connect</a>
    </form>
    <div id="connected" ng-class="{hidden:!connected}">
        <h3>Hello, {{permName}}</h3>
        <a ng-click="disconnect();">Disconnect</a>
    </div>
    <div id="menu">
      <ul>
        <li ng-class="{current_page_item:isActive('main')}"><a href="#" accesskey="1" title="" ng-click="activePanel='main'">Homepage</a></li>
        <li ng-class="{current_page_item:isActive('mine')}"><a href="#" accesskey="2" title="" ng-click="activePanel='mine'">Nothing here</a></li>
        <li ng-class="{current_page_item:isActive('shelve')}"><a href="#" accesskey="3" title="" ng-click="activePanel='shelve'">Shelve Sound & Swag System</a></li>
        <li ng-class="{current_page_item:isActive('sound')}"><a href="#" accesskey="4" title="" ng-click="activePanel='sound'">Music System Project</a></li>
          <li ng-if="permission>2"><a ng-click="goToPage('juliette');">Juliette</a></li>
          <li ng-if="permission>0"><a ng-click="goToPage('nico');">Nico</a></li>
          <li ng-class="{current_page_item:isActive('??')}"><a href="#" accesskey="5" title="" ng-click="activePanel='??'">Nothing</a></li>
      </ul>
    </div>
  </div>
  <div id="main">
    <div ng-include="'/templates/homeMain.ejs'" ng-if="isActive('main')"></div>
      <div ng-include="'/templates/soundPlayer.ejs'" ng-if="isActive('sound')"></div>
      <div ng-include="'/templates/shelve.ejs'" ng-if="isActive('shelve')"></div>
  </div>
</div>
</body>
</html>
