<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Skeleton 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20130902

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title></title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
  <link href="/stylesheets/default.css" rel="stylesheet" type="text/css" media="all" />
  <link href="/stylesheets/fonts.css" rel="stylesheet" type="text/css" media="all" />

  <!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="page" class="container">
  <div id="header">
    <div id="logo">
      <img src="images/pic02.jpg" alt="" />
      <h1><a href="#">Privy</a></h1>
      <span>Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a></span>
    </div>
    <div id="menu">
      <ul>
        <li class="current_page_item"><a href="#" accesskey="1" title="">Homepage</a></li>
        <li><a href="#" accesskey="2" title="">Nothing here</a></li>
        <li><a href="#" accesskey="3" title="">Neither here</a></li>
        <li><a href="#" accesskey="4" title="">Nope</a></li>
        <li><a href="#" accesskey="5" title="">Nothing</a></li>
      </ul>
    </div>
  </div>
  <div id="main">
    <div id="banner">
      <img src="images/pic01.jpg" alt="" class="image-full" />
    </div>
    <div id="welcome">
      <div class="title">
        <h2>#Swag</h2>
        <span class="byline">Nothing Serious here</span>
      </div>
      <ul class="actions">
        <li><a href="#" class="button">Click Me</a></li>
      </ul>
    </div>
    <div id="featured">
      <div class="title">
        <h2>What's going on here</h2>
        <span class="byline">See all those little app project I have for this place</span>
      </div>
      <ul class="style1">
        <li class="first">
          <p class="date"><a href="#">Sep<b>15</b></a></p>
          <h3>Sound and Swag Shelves</h3>
          <p><a href="#">That's a little idea I had for my gf. It is near to nothing related to my domain, computer sciences, but I love doing some extra stuff outside my computer</a></p>
        </li>
        <li>
          <p class="date"><a href="#">Oct<b>20</b></a></p>
          <h3>Minesweeper AI contest</h3>
          <p><a href="#">I'm excited about making a little game, the well known minesweeper, and let poeple upload their AI to resolve it. Then, maybe extend it to snake</a></p>
        </li>
        <li>
          <p class="date"><a href="#">Jan<b>01</b></a></p>
          <h3>Happy New Year</h3>
          <p><a href="#">Big party is coming in. We're looking for the place but we hope, and we know, this will be legendary, as always !</a></p>
        </li>
        <li>
          <p class="date"><a href="#">Dec<b>15</b></a></p>
          <h3>Genetic Algorithm</h3>
          <p><a href="#">I would love to have a genetic algorithm running 24/7 on this server. I have to ask the host if I can do that.</a></p>
        </li>
      </ul>
    </div>
    <div id="copyright">
      <span>Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</span>
    </div>
  </div>
</div>
</body>
</html>
