<!DOCTYPE HTML>
<!--
	Prologue by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title>Justin Loroy</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="stylesheets/serious/serious.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
    <script src="https://code.angularjs.org/1.3.15/i18n/angular-locale_fr-be.js"></script>
    <script src="javascripts/home.js"></script>
</head>
<body  ng-App="home" ng-controller="homeController">

<!-- Header -->
<div id="header">

    <div class="top">

        <!-- Logo -->
        <div id="logo">
            <h1 id="title">Justin : Image Processing</h1>
            <p>Computer Scientist</p>
            <span class="image avatar48"><img src="http://i.imgur.com/CYU8JsN.gif" alt="" /></span>
            <a style="width:50px;height:50px;" href="http://i.imgur.com/CYU8JsN.gif"></a>
        </div>
        <!-- Nav -->
        <nav id="nav">
            <!--

                Prologue's nav expects links in one of two formats:

                1. Hash link (scrolls to a different section within the page)

                   <li><a href="#foobar" id="foobar-link" class="icon fa-whatever-icon-you-want skel-layers-ignoreHref"><span class="label">Foobar</span></a></li>

                2. Standard link (sends the user to another page/site)

                   <li><a href="http://foobar.tld" id="foobar-link" class="icon fa-whatever-icon-you-want"><span class="label">Foobar</span></a></li>

            -->
            <ul>
                <li><a href="/#top" id="top-link" class="skel-layers-ignoreHref"><span class="icon fa-home">Intro</span></a></li>
                <li><a href="/#portfolio" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Portfolio</span></a></li>
                <li><a href="/#about" id="about-link" class="skel-layers-ignoreHref"><span class="icon fa-user">About Me</span></a></li>
                <li><a href="/#contact" id="contact-link" class="skel-layers-ignoreHref"><span class="icon fa-envelope">Contact</span></a></li>
            </ul>
            <ul>
                <li ng-if="permission>0"><a href="/blog"><span class="label">Blog</span></a></li>
                <li ng-if="permission>0"><a href="/nico"><span class="label">Nico</span></a></li>
                <li><a ng-if="permission>0"><a href="/avent"><span class="label">Calendrier de l'avent</span></a></li>
            </ul>
        </nav>

    </div>

    <div class="bottom">

        <!-- Social Icons -->
        <ul class="icons">
            <li><a href="https://twitter.com/JustinLoroy" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="https://www.facebook.com/justin.loroy" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <!--<li><a href="https://github.com/JLoroy" class="icon fa-github"><span class="label">Github</span></a></li>-->
            <li><a href="mailto:justin@loroy.be" class="icon fa-envelope"><span class="label">Email</span></a></li>
            <li><a href="https://www.linkedin.com/in/justin-loroy-885a1462" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
        </ul>

    </div>

</div>

<!-- Main -->
<div id="main">
    <section id="top" class="one dark cover">
        <div class="container">
            <header>
                <h2 class="alt">ImageProcessing</h2>
                <h3>Labelling model</h3>
            </header>
        </div>
    </section>

    <section id="intro">
        <div class="container">
        <h3 style="margin-bottom:50px;">Project Presentation</h3>
        <p style="text-align: justify;">For the course of Image Processing, we had to train a model in order to label part of an image as
        <i>Sky, Wall, Window, Roof, Door, Plant, Pedestrian</i>.
            The data we worked on were image labeled manually on some pixels.
            The first step was to extract some relevant features from the images. The pixels position and color, their surrounding.
            After an image segmentation, we assigned to the pixel the features of its group such as mode color, segment size and edge density.
            After that, we made some analysis on the information brought by each of theses to make a feature selection. Fun fact: we demonstrated
            that the pixel's color was irrelevant.
        </p>

        <div class="container" style="margin-bottom:75px;">
            <a href="images/improc/AUCFeat.jpg"><img style="width:90%;box-shadow: inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.05);" src="images/improc/AUCfeat.jpg"></img></a>
            <figcaption>Feature significance / selection</figcaption>
        </div>

        <p style="text-align: justify;">
            The next step was to train the model with several machine learning algorithms. The best results were obtained with the Random Forest.
            We did a grid search (with a 10-folds cross validation) on the parameters for the segmentation and for the training (number of generated random trees).
            The evaluation of the accuracy of the final solution was done with a real-life analysis (new data). We reached the 80% of accuracy, which was unexpected by our professors. We scored a 18.5/20 on this project.
        </p>
        <div class="container" style="margin-bottom:75px;">
            <a href="images/improc/val_acc.jpg"><img style="width:60%;box-shadow: inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.05);" src="images/improc/val_acc.jpg"></img></a>
            <figcaption>Final evaluation</figcaption>
        </div>

        <div style="display: inline-block;">
            <div style="width:48%;float:left;margin-bottom:75px;">
                <a href="images/improc/MSS.jpg"><img style="width:100%;box-shadow: inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.05);" src="images/improc/MSS.jpg"></img></a>
                <figcaption>Mean Shift Segmentation</figcaption>
            </div>

            <div style="width:48%;float:right;margin-bottom:75px;">
                <a href="images/improc/MSS2.jpg"><img style="width:100%;box-shadow: inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.05);" src="images/improc/MSS2.jpg"></img></a>
                <figcaption>Labelled Image</figcaption>
            </div>
        </div>

        <a type="button" download="Rapport_Image_Processing.pdf" href="/dl/improc_report.pdf"><i class="fa fa-download"></i> <strong style="color:red;">Download the report</strong></a>


        </div>
    </section>

</div>

<!-- Footer -->
<div id="footer">
    <!-- Copyright -->
    <ul class="copyright">
        <li><p ng-if="connected">Permission level {{permission}}</p></li>
        <!--<li><a href="http://tonyholmsten.deviantart.com/art/killer-is-dead-concept-art-407343587">Killer is Dead Concept art by Tony holmsten</a></li>-->
        <li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>

</div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/jquery.scrollzer.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="assets/js/main.js"></script>

</body>
</html>