<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Juliette</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <!--
    Easy Profile Template
    http://www.templatemo.com/free-website-templates/467-easy-profile
    -->
    <!-- stylesheet css -->
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/templatemo-blue.css">
    <link rel="stylesheet" href="stylesheets/juliette.css">
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>

</head>
<body data-spy="scroll" data-target=".navbar-collapse">

<!-- preloader section -->
<div class="preloader">
    <div class="sk-spinner sk-spinner-wordpress">
        <span class="sk-inner-circle"></span>
    </div>
</div>

<!-- header section -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <img src="images/ju/miaou.jpg" class="img-responsive img-circle tm-border" alt="templatemo easy profile">
                <hr>
                <h1 class="tm-title bold shadow">Juliette</h1>
                <h1 class="white bold shadow">&#10084;</h1>
            </div>
        </div>
    </div>
</header>
<section class="container">
    <div class="col-md-12 col-sm-12">
        <div class="about letter">
            <h2>Ju,</h2>
            <p> Voilà, ca fait un an déjà, qu'on s'aime et qu'on se supporte ! On est devenu un vrai petit couple avec ses habitudes et ses histoires droles. Ca me fait vraiment plaisir de devenir comme ça avec toi, j'ai l'impression qu'on ne pourrais plus vivre séparés (en tout cas moi je ne pourrai pas! ). Je ne m'imagine plus du tout sans toi, tu es devenue pour moi ma partenaire de vie, mon ultime alliée, celle qui sera toujours là. Et c'est aussi ce que je suis pour toi. Je serai toujours là pour t'épauler, pour t'encourager, pour te souffler dans la nuque si tu as chaud !</p>

            <p> Le 23 septembre 2014, ou plutôt le 24 car il était passé minuit, nous nous sommes rencontrés. Je ne crois pas que ce soit prédestiné, je crois plutôt qu'on a eu de la chance, et qu'on en profite tous les jours depuis cette nuit-la.
                Tu ne vas pas me croire, mais j'ai toujours trouvé notre couple parfait. Sans s'en rendre compte, quelque part, on se complète et on se ressemble grandement. On a souvent remarqué à quel point il était facile pour nous deux de rester ensemble de longues heures sans qu'il n'y ait de malaise ou qu'on se sente mal.
                Au contraire, lorsque je suis avec toi, je me sens comme sur un petit nuage. Tu es devenue pour moi bien plus qu'une petite amie. Tu es une ligne de ma vie, une guide, une conseillère, une conscience...  ma meilleure amie, et bien plus !
            </p>

            <p>Quand je pense a nous deux j'ai des souvenirs qui sont vraiment encrés, ceux qui me rendront nostalgique plus tard. C'est parfois des souvenirs assez vague, sans contexte, comme une image de toi, assise a coté de moi dans la voiture, le regard attentif, le visage parfait. Tu me remarque et tu me souris. Il y avait une superbe lumière, le soleil se couchait, je suis dingue amoureux ! </p>
            <p>Parfois c'est des souvenirs plus précis, comme les parties de cluedo dans ma chambre ou le monopoly que tu as fini par gagner alors que je menais depuis le début!
                Ou alors c'est des souvenirs plus sensoriels, comme ton odeurs dans mes draps après la premiere fois que tu as dormi chez moi. Je savais déjà que j'avais trouvé une perle, mais j'étais loin de m'imaginer a quel point j'allais t'aimer !
            </p>
            <p>Le plus beau souvenir que j'ai de nous deux, c'est l'arrivée à l'hotel de Marbella. Je ne sais pas si c'était la surprise de la chambre ou ta joie qui m'éblouissait le plus, mais ce soir là j'ai cru devenir aveugle, haha </p>
            <p>Je nous souhaite que du bonheur, à nous, à nos sims, à nos futurs animaux, à nos rêves ! J'ai hâte de savoir ce que la vie nous amenera, mais j'aime prend le temps de deguster les moments qu'on passe ensemble dans le présent. </p>
            <p>A nous,</p>
            <p>Je t'aime !</p>
            <p>Justin</p>

        </div>
</section>
<!-- javascript js -->
<script src="javascripts/jquery.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/jquery.backstretch.min.js"></script>
<script src="javascripts/custom.js"></script>

</body>
</html>