
    <div id="banner">
        <img src="../images/lacchill.jpeg" alt="" class="image-full" />
    </div>
    <div id="welcome">
        <div class="title">
            <h1>#Swag</h1>
            <span class="byline">Nothing Serious here</span>

        </div>
    </div>
    <div id="featured">
        <div class="title">
            <h2>What's going on here</h2>
            <span class="byline">See all those little app project I have for this place</span>
        </div>
        <ul class="style1">
            <li class="first">
                <p class="date"><a href="#">Sep<b>15</b></a></p>
                <h3>Sound and Swag Shelves</h3>
                <p><a href="#">That's a little idea I had for my gf. It is near to nothing related to my domain, computer sciences, but I love doing some extra stuff outside my computer</a></p>
            </li>
            <li>
                <p class="date"><a href="#">Oct<b>20</b></a></p>
                <h3>Minesweeper AI contest</h3>
                <p><a href="#">I'm excited about making a little game, the well known minesweeper, and let people upload their AI to resolve it. Then, maybe extend it to snake</a></p>
            </li>
            <li>
                <p class="date"><a href="#">Jan<b>01</b></a></p>
                <h3>Happy New Year</h3>
                <p><a href="#">Big party is coming in. We're looking for the place but we hope, and we know, this will be legendary, as always !</a></p>
            </li>
            <li>
                <p class="date"><a href="#">Dec<b>15</b></a></p>
                <h3>Genetic Algorithm</h3>
                <p><a href="#">I would love to have a genetic algorithm running 24/7 on this server. I have to ask the host if I can do that.</a></p>
            </li>
        </ul>
    </div>
    <div id="copyright">
        <span>Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</span>
    </div>