
<div id="banner">
    <img src="../images/shelvedraw.jpg" alt="" class="image-full" />
</div>
<div id="welcome">
    <div class="title">
        <h1>Super Multi Usage Shelve</h1>
        <span class="byline">with sound system incorporated</span>
        <p>ALIAS Sound and Swag Shelve</p>
    </div>
    <img src ="../images/shelveplan.png" alt="" class="image-full"/>
</div>
<div id="featured">
    <div class="title">
        <h2>What's the plan</h2>
        <span class="byline">How will we construct such a non-computerable thing?</span>
    </div>
    <ul class="style1">
        <li class="first">
            <h3>Woodcraft</h3>
            <p>we will need some wood to make the frame, this is commonly hard to evaluate but i will be as precise as i can.</p>
            <table class="table">
                <caption>Raw Wood</caption>
                <thead>
                    <tr>
                        <th>Wood Type</th>
                        <th>Quantity</th>
                        <th>Width</th>
                        <th>Height</th>
                        <th>Depth</th>
                        <th>Price</th>
                        <th>Total Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Legs</td>
                        <td>4</td>
                        <td>5cm</td>
                        <td>10cm</td>
                        <td>10cm</td>
                        <td>500cm&sup3;</td>
                        <td>2.5&euro;</td>
                    </tr>
                </tbody>
            </table>
            <table class="table">
                <caption>Large panel. 20-30m painted mdf</caption>
                <thead>
                    <tr>
                        <th>Wood Type</th>
                        <th>Quantity</th>
                        <th>Width</th>
                        <th>Height</th>
                        <th>Surface</th>
                        <th>Price</th>
                        <th>Total Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Frame Sides</td>
                        <td>2</td>
                        <td>155cm</td>
                        <td>40cm</td>
                        <td>1,24m&sup2;;</td>
                        <td>11&euro;</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Frame floors</td>
                        <td>6</td>
                        <td>70cm</td>
                        <td>40cm</td>
                        <td>1,68m&sup2;</td>
                        <td>11&euro;</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><strong>total</strong></td>
                        <td>2.92m&sup2;</td>
                        <td>11&euro;</td>
                        <td>32.12&euro;</td>
                    </tr>
                </tbody>
            </table>
            <table class="table">
                <caption>Light Wood. 10-20mm melamine</caption>
                <thead>
                    <tr>
                        <th>Wood Type</th>
                        <th>Quantity</th>
                        <th>Width</th>
                        <th>Height</th>
                        <th>Surface</th>
                        <th>Price</th>
                        <th>Total Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Frame Back</td>
                        <td>1</td>
                        <td>155cm</td>
                        <td>70cm</td>
                        <td>1,085m&sup2;</td>
                        <td>10&euro;</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Doors</td>
                        <td>2</td>
                        <td>80cm</td>
                        <td>35cm</td>
                        <td>0.56m&sup2;</td>
                        <td>10&euro;</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Drawer Front</td>
                        <td>2</td>
                        <td>20cm</td>
                        <td>35cm</td>
                        <td>0.14m&sup2;</td>
                        <td>10&euro;</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Drawer back</td>
                        <td>2</td>
                        <td>30cm</td>
                        <td>35cm</td>
                        <td>0.21m&sup2;</td>
                        <td>10&euro;</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Drawer sides</td>
                        <td>6</td>
                        <td>35cm</td>
                        <td>15cm</td>
                        <td>0.32m&sup2;</td>
                        <td>10&euro;</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Cable Hider</td>
                        <td>1</td>
                        <td>70cm</td>
                        <td>50cm</td>
                        <td>0.35m&sup2;</td>
                        <td>10&euro;</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Speakers cache</td>
                        <td>1</td>
                        <td>70cm</td>
                        <td>225cm</td>
                        <td>0.17m&sup2;</td>
                        <td>10&euro;</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><strong>total</strong></td>
                        <td>2.84m&sup2;</td>
                        <td>10&euro;</td>
                        <td>28.4&euro;</td>
                    </tr>
                </tbody>
            </table>
        </li>
        <li>
            <h3>Decoration</h3>
            <p>The decoration is a important part of the process. I hope i wont have to paint anything on it (that's why i take painted wood or melamine)</p>
            <table class="table">
                <caption>Decorations</caption>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Handles</td>
                    <td>4</td>
                    <td>10&euro;</td>
                </tr>
                <tr>
                    <td>Magnets</td>
                    <td>2</td>
                    <td>5&euro;</td>
                </tr>
                <tr>
                    <td>Chalkboard</td>
                    <td>1</td>
                    <td>20&euro;</td>
                </tr>
                <tr>
                    <td>Mirror</td>
                    <td>1</td>
                    <td>10&euro;</td>
                </tr>
                <tr>
                    <td>Speaker decoration</td>
                    <td>2</td>
                    <td>10&euro;</td>
                </tr>
                </tbody>
            </table>
        </li>
        <li>
            <h3>Electro</h3>
            <p>Now THAT'S the fun part (for me)</p>
            <table class="table">
                <caption>Things to buy</caption>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Speakers</td>
                    <td>1</td>
                    <td>20&euro;</td>
                </tr>
                <tr>
                    <td>Plugs bloc</td>
                    <td>2</td>
                    <td>10&euro;</td>
                </tr>
                <tr>
                    <td>MP3 + SD card</td>
                    <td>1</td>
                    <td>24&euro;</td>
                </tr>
                <tr>
                    <td>leds</td>
                    <td>1</td>
                    <td>15&euro;</td>
                </tr>
                <tr>
                    <td>jack</td>
                    <td>1</td>
                    <td>5&euro;</td>
                </tr>
                <tr>
                    <td>USB Charger</td>
                    <td>1</td>
                    <td>15&euro;</td>
                </tr>
                </tbody>
            </table>
        </li>
        <li>
            <h3>Tools</h3>
            <p>Tricky things not to forget to make it stable</p>
            <table class="table">
                <caption>Things to buy</caption>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Screws</td>
                    <td>a lot of</td>
                    <td>5&euro;</td>
                </tr>
                <tr>
                    <td>Glue</td>
                    <td>1</td>
                    <td>10&euro;</td>
                </tr>
                <tr>
                    <td>corners</td>
                    <td>16</td>
                    <td>10&euro;</td>
                </tr>
                <tr>
                    <td>chains</td>
                    <td>2</td>
                    <td>5&euro;</td>
                </tr>
                <tr>
                    <td>door mechanism</td>
                    <td>2</td>
                    <td>20&euro;</td>
                </tr>
                </tbody>
            </table>
        </li>
        <li>
            <h3>How to do it</h3>
            <ul>
                <li>
                    <p>First, we make the frame, the outside borders and the floors. We can aleready make the cache cable for floors 2 3 and 4. And screw  in the legs.</p>
                </li>
                <li>
                    <p>Then, we can make the drawers. Assemble them, place the mechanism and the knobs</p>
                </li>
                <li>
                    <p>Then we fix the doors mechanisms and knobs</p>
                </li>
                <li>
                    <p>We can make the holes for the speakers and place the decorations</p>
                </li>
                <li>
                    <p>The electro part, we fix the speakers down and the blocs for plugin Then pull up the cables for the interface</p>
                </li>
                <li>
                    <p>Finally, we can make the hole for the plug in the back, fix the back, fix the led, chalckboard and mirror. Then write the "Juliette" somehow, fill up the MP3 and test it</p>
                </li>
                <li>
                    <p>DONE</p>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div id="copyright">
    <span>Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</span>
</div>