
        <div id="banner">
            <img src="../images/mountain.jpg" alt="" class="image-full" />
        </div>
        <div id="welcome">
            <div class="title">
                <h2>Python Sound Player</h2>
                <span class="byline">Let you sort your legally downloaded music by what you think the genre is ! First step toward a <strong>Personnalized music system</strong>, that will learn your preferences and propose you music you don't know yet, but already like.</span>
            </div>

        </div>
        <div id="featured">
            <div class="title">
                <h2>Project Component</h2>
                <span class="byline">and planning</span>
            </div>
            <ul class="style1">
                <li class="first">
                    <h3>Mutagen</h3>
                    <p><a href="#">Mutagen will be used to manage the ID3 tags, these will be central when sorting because it will extend it to other media player and automagically create playlist. One have to know that there's is two <strong>genre</strong> type in the ID3 tags, the first is a char, 256 value possible, see below. But then there is a custom genre where your imagination become important. Just create your own style: 'Posey', 'OKLM', 'SwagSongs', all you can think of ! </a></p>
                </li>
                <li>
                    <h3>Music Styles</h3>
                    <table class="table">
                        <caption>Genres musicaux standards</caption>
                        <tr>
                            <th>Valeur</th>
                            <th>Genre</th>
                            <th>Valeur</th>
                            <th>Genre</th>
                            <th>Valeur</th>
                            <th>Genre</th>
                        </tr>
                        <tr>
                            <td>0</td>
                            <td>Blues</td>
                            <td>27</td>
                            <td>Trip hop</td>
                            <td>54</td>
                            <td>Eurodance</td>
                        </tr>
                        <tr bgcolor="#F2F2F2">
                            <td>1</td>
                            <td>Classic rock</td>
                            <td>28</td>
                            <td>Musique vocale</td>
                            <td>55</td>
                            <td>Dream</a></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Country</td>
                            <td>29</td>
                            <td>Jazz-funk</td>
                            <td>56</td>
                            <td>southern rock</td>
                        </tr>
                        <tr bgcolor="#F2F2F2">
                            <td>3</td>
                            <td>Dance</td>
                            <td>30</td>
                            <td>Fusion</td>
                            <td>57</td>
                            <td>Comédie</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Disco</td>
                            <td>31</td>
                            <td>Trance</td>
                            <td>58</td>
                            <td>Morceau "culte"</td>
                        </tr>
                        <tr bgcolor="#F2F2F2">
                            <td>5</td>
                            <td>Funk</td>
                            <td>32</td>
                            <td>Musique classique</td>
                            <td>59</td>
                            <td>Gangsta</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Grunge</td>
                            <td>33</td>
                            <td>Instrumental</td>
                            <td>60</td>
                            <td>Hit-parade</td>
                        </tr>
                        <tr bgcolor="#F2F2F2">
                            <td>7</td>
                            <td>Hip-hop</td>
                            <td>34</td>
                            <td>Acid</td>
                            <td>61</td>
                            <td>Rap chrétien </td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>Jazz</td>
                            <td>35</td>
                            <td>House</td>
                            <td>62</td>
                            <td>Pop Funk</td>
                        </tr>
                        <tr bgcolor="#F2F2F2">
                            <td>9</td>
                            <td>Metal</td>
                            <td>36</td>
                            <td>Musique de jeu vidéo</td>
                            <td>63</td>
                            <td>Jungle</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>New age</td>
                            <td>37</td>
                            <td>Extrait sonore</td>
                            <td>64</td>
                            <td>Musique amérindienne</td>
                        </tr>
                        <tr bgcolor="#F2F2F2">
                            <td>11</td>
                            <td>Oldies</td>
                            <td>38</td>
                            <td>Gospel</td>
                            <td>65</td>
                            <td>Cabaret</td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td>Autre</td>
                            <td>39</td>
                            <td>Musique bruitiste</td>
                            <td>66</td>
                            <td>New wave</td>
                        </tr>
                        <tr bgcolor="#F2F2F2">
                            <td>13</td>
                            <td>Pop</td>
                            <td>40</td>
                            <td>Rock alternatif</td>
                            <td>67</td>
                            <td>Psychédélique</td>
                        </tr>
                        <tr>
                            <td>14</td>
                            <td>RnB</td>
                            <td>41</td>
                            <td>Bass</td>
                            <td>68</td>
                            <td>Rave</td>
                        </tr>
                        <tr bgcolor="#F2F2F2">
                            <td>15</td>
                            <td>Rap</td>
                            <td>42</td>
                            <td>Soul</td>
                            <td>69</td>
                            <td>Comédie musicale</td>
                        </tr>
                        <tr>
                            <td>16</td>
                            <td>Reggae</td>
                            <td>43</td>
                            <td>Punk</td>
                            <td>70</td>
                            <td>Bande-annonce</td>
                        </tr>
                        <tr bgcolor="#F2F2F2">
                            <td>17</td>
                            <td>Rock</td>
                            <td>44</td>
                            <td>Space</td>
                            <td>71</td>
                            <td>Lo-fi</td>
                        </tr>
                        <tr>
                            <td>18</td>
                            <td>Techno</a></td>
                            <td>45</td>
                            <td>Musique de relaxation et de méditation</td>
                            <td>72</td>
                            <td>Musique tribale</a></td>
                        </tr>
                        <tr bgcolor="#F2F2F2">
                            <td>19</td>
                            <td>Musique industrielle</td>
                            <td>46</td>
                            <td>Pop instrumental</td>
                            <td>73</td>
                            <td>Acid punk</td>
                        </tr>
                        <tr>
                            <td>20</td>
                            <td>Rock alternatif</td>
                            <td>47</td>
                            <td>Rock instrumental</td>
                            <td>74</td>
                            <td>Acid jazz</td>
                        </tr>
                        <tr bgcolor="#F2F2F2">
                            <td>21</td>
                            <td>Ska</td>
                            <td>48</td>
                            <td>Musique ethnique</td>
                            <td>75</td>
                            <td>Polka</td>
                        </tr>
                        <tr>
                            <td>22</td>
                            <td>Death metal</td>
                            <td>49</td>
                            <td>Gothique</td>
                            <td>76</td>
                            <td><a>Rétro</a></td>
                        </tr>
                        <tr bgcolor="#F2F2F2">
                            <td>23</td>
                            <td>Pranks</td>
                            <td>50</td>
                            <td>Darkwave</td>
                            <td>77</td>
                            <td>Théâtre</td>
                        </tr>
                        <tr>
                            <td>24</td>
                            <td>Musique de film</td>
                            <td>51</td>
                            <td>Techno-industrial</td>
                            <td>78</td>
                            <td>Rock 'n' Roll</td>
                        </tr>
                        <tr bgcolor="#F2F2F2">
                            <td>25</td>
                            <td>Euro techno</td>
                            <td>52</td>
                            <td>Musique électronique</td>
                            <td>79</td>
                            <td>Hard rock</td>
                        </tr>
                        <tr>
                            <td>26</td>
                            <td>Ambient</td>
                            <td>53</td>
                            <td>Pop</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </li>
                <li>
                    <h3>Python</h3>
                    <p>Why <strong>Python 3.4</strong> ? Well, because it is to me the most adequate language to make such a desktop app that has to play with files on the local machine. At the end, it will be simple to connect it to other languages if needd (for the interface for example)</p>
                </li>
                <li>
                    <h3>Concept</h3>
                    <p>The principle is quite simple, the app will read all you not-yet-sorted music and you wil only need to click on button to sort it, plus maybe add the 5-star ranking, but I know noone that use this system the proper way. There will be a little interface to make, I wonder if this wouldn't better be a cloud app</p>
                </li>
            </ul>
        </div>
        <div id="copyright">
            <span>&copy; Mountain Nest. All rights reserved. | Image by <a href="http://javoraj.deviantart.com/">Javoraj</a></span>
            <span>Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</span>
        </div>