
/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/
.container
{
    overflow: hidden;
    margin: 0em auto;
    width: 1200px;
    background-image: '../images/ju/kiss.png'';
}

#main
{
    overflow: hidden;
    width: 100%;
    background: #202020;
    border-top: 0px solid #df0056;
    text-align: center;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header
{
    position: relative;
    float: left;
    width: 300px;
    padding: 3em 0em;
}


/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

.button
{
    display: inline-block;
    padding: 1em 3em 1em 2em;
    letter-spacing: 0.20em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.90em;
    color: #d6d29a;
}

.button:before
{
    display: inline-block;
    background: #FFC31F;
    margin-right: 1em;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    text-align: center;
    color: #272925;
}

html, body
{
    height: 100%;
}

body
{
    margin: 0px;
    padding: 0px;
    background: #202020;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12pt;
    font-weight: 300;
    color: #444444;
}


h1, h2, h3
{
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: #ec6c82;
}

/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

.image
{
    display: inline-block;
}

.image img
{
    display: block;
    width: 100%;
}

.image-full
{
    display: block;
    width: 100%;
    margin: 0 0 2em 0;
}

.image-left
{
    float: left;
    margin: 0 2em 2em 0;
}

.image-centered
{
    display: block;
    margin: 0 0 2em 0;
}

.image-centered img
{
    margin: 0 auto;
    width: auto;
}


/*BIG Image*/
.big-image
{
    width:50%;
}
.big-image img
{
    width:100%
}

/*CONTENU*/

.contenu
{
    width:50%;
    float:right;
}
.contenu section
{
    width:100%;
    float:right;
}